@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
}

main {
  overflow: hidden;
  width: 100%;
}

/* ------------------Typography------------------ */
html {
  font-size: 62.5%;
  font-size: 0.625vw;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  color: #000000;
  font-size: 1.6rem;
  overflow-x: hidden;
}

body::-webkit-scrollbar-thumb {
  background: #010101;
  border-radius: 1rem 0px 1rem 0px;
}

body::-webkit-scrollbar {
  width: 0.6rem;
  background-color: #344AF5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  line-height: 1.2;
  margin: 1rem 0;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 6rem;
}

h2 {
  font-size: 2.6rem;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 3.2rem;
}

h5 {
  font-size: 1.8rem;
  font-weight: 500;
}

h6 {
  font-size: 1.8rem;
}

p {
  font-size: 1.8rem;
  line-height: 1.3;
}

a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: #000000;
}
a:hover {
  text-decoration: none;
}

img {
  vertical-align: middle;
}

.heading {
  text-align: center;
  font-size: 3rem;
  padding: 2rem 0 0.4rem;
  width: -moz-fit-content;
  width: fit-content;
  border-bottom: 2px solid #344AF5;
  margin: 0 auto;
  margin-bottom: 4rem;
  font-weight: 600;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.gap-4 {
  gap: 4rem;
}

.grid {
  display: grid;
}
.grid-col90 {
  grid-template: auto/5fr 90fr 5fr;
}
.grid-col90 .block__inner {
  grid-column: 3/2;
}
.grid-col80 {
  grid-template: auto/10fr 80fr 10fr;
}
.grid-col80 .block__inner {
  grid-column: 3/2;
}
.grid-col70 {
  grid-template: auto/15fr 70fr 15fr;
}
.grid-col70 .block__inner {
  grid-column: 3/2;
}
.grid-col60 {
  grid-template: auto/20fr 60fr 20fr;
}
.grid-col60 .block__inner {
  grid-column: 3/2;
}
.grid-col50 {
  grid-template: auto/25fr 50fr 25fr;
}
.grid-col50 .block__inner {
  grid-column: 3/2;
}
.grid-col40 {
  grid-template: auto/30fr 40fr 30fr;
}
.grid-col40 .block__inner {
  grid-column: 3/2;
}

.block__1x2 {
  grid-template: auto/repeat(2, 1fr);
}
.block__1x3 {
  grid-template: auto/repeat(3, 1fr);
}

.padding-vertical {
  padding: 4rem 0;
}

.flex_ {
  display: flex;
}

.flex_center {
  justify-content: center;
}

.flex_space {
  justify-content: space-between;
}

.flex_wrap {
  flex-wrap: wrap;
}

.align_center {
  align-items: center;
}

.vertical__padding {
  padding: 4rem 0;
}

.grid {
  display: grid;
}

.grid_2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid_3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid_4 {
  grid-template-columns: repeat(4, 1fr);
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.list__item {
  line-height: 1.8;
}
.list-inline {
  display: flex;
}
.list-inline .list__item {
  font-weight: 500;
  text-transform: uppercase;
}

.btn1 {
  font-size: 1.7rem;
  background: #010101;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  box-shadow: 0px 0px 0px 0px rgba(52, 74, 245, 0.25), 2px 2px 5px 0px rgba(52, 74, 245, 0.25), 7px 7px 9px 0px rgba(52, 74, 245, 0.21), 15px 15px 13px 0px rgba(52, 74, 245, 0.13), 26px 27px 15px 0px rgba(52, 74, 245, 0.04), 41px 42px 16px 0px rgba(52, 74, 245, 0);
  padding: 1rem 2rem;
  border-radius: 0.5rem;
}
.btn1:hover {
  color: #fff;
  background: #344AF5;
}

.btn2 {
  font-size: 1.7rem;
  border-radius: 0.5rem;
  color: #fff;
  background: #344AF5;
  padding: 1rem 4rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  box-shadow: 0px 0px 0px 0px rgba(52, 74, 245, 0.25), 2px 2px 5px 0px rgba(52, 74, 245, 0.25), 7px 7px 9px 0px rgba(52, 74, 245, 0.21), 15px 15px 13px 0px rgba(52, 74, 245, 0.13), 26px 27px 15px 0px rgba(52, 74, 245, 0.04), 41px 42px 16px 0px rgba(52, 74, 245, 0);
  border: 1px solid #344AF5;
}
.btn2:hover {
  background: #010101;
  color: #fff;
}

.banner__Box {
  position: relative;
}
.banner__Box img {
  width: 100%;
}
.banner__Box h2 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: 0 auto;
  border-bottom: 2px solid #ddd;
  color: #fff;
  font-size: 4rem;
  width: -moz-fit-content;
  width: fit-content;
  padding-bottom: 0.5rem;
}

.media {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.media__img {
  width: 30%;
}
.media__img img {
  width: 100%;
}
.media__body {
  width: 70%;
}

input, select {
  border: none;
  outline: none;
}

.effect-8 {
  border: 0.1rem solid #ccc;
  padding: 0.7rem 1.4rem 0.9rem;
  transition: 0.4s;
}

.effect-8 ~ .focus-border:before,
.effect-8 ~ .focus-border:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0.2rem;
  background-color: #344AF5;
  transition: 0.3s;
}

.effect-8 ~ .focus-border:after {
  top: auto;
  bottom: 0;
  left: auto;
  right: 0;
}

.effect-8 ~ .focus-border i:before,
.effect-8 ~ .focus-border i:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 0;
  background-color: #344AF5;
  transition: 0.4s;
}

.effect-8 ~ .focus-border i:after {
  left: auto;
  right: 0;
  top: auto;
  bottom: 0;
}

.effect-8:focus ~ .focus-border:before,
.effect-8:focus ~ .focus-border:after {
  width: 100%;
  transition: 0.3s;
}

.effect-8:focus ~ .focus-border i:before,
.effect-8:focus ~ .focus-border i:after {
  height: 100%;
  transition: 0.4s;
}

.signup__ {
  gap: 2rem;
}
.signup__b > label {
  font-weight: 600;
}
.signup__box {
  position: relative;
  width: 100%;
  margin-bottom: 1rem;
}
.signup__box input,
.signup__box select {
  position: relative;
  width: 100%;
  color: #010101;
  background: #fff;
  height: 4.5rem;
  padding: 0 1rem;
  font-size: 1.6rem;
  padding-left: 5rem;
  border: 1px solid #ddd;
}
.signup__box .input__icon {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: #ffffff;
  font-size: 1.6rem;
  z-index: 9;
  width: 4rem;
  background: #344AF5;
  height: 100%;
  display: grid;
  place-items: center;
}
.signup__box2 > div {
  padding: 1rem;
  border: 1px solid #ddd;
}
.signup__box2 > label {
  font-weight: 600;
}
.signup__box2 label.radio-inline {
  padding-left: 2.5rem;
  margin: 0;
  margin-right: 2rem;
  gap: 1rem;
}
.signup__box2 label.radio-inline input {
  height: 2rem;
  width: 2rem;
  margin-left: -2.5rem;
}
.signup__box2 label.radio-inline span {
  font-weight: 500;
}

.header {
  padding: 2rem 0;
}
.header__left img {
  width: 26rem;
}
.header__center > ul {
  gap: 5rem;
}
.header__center > ul li:first-child .header__center-main::before {
  display: none;
}
.header__center-main {
  position: relative;
  color: #000;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
}
.header__center-main::before {
  content: "";
  position: absolute;
  left: -2.5rem;
  top: 10%;
  width: 0.2rem;
  height: 80%;
  background: #D7D7D7;
}

.banner {
  position: relative;
}
.banner_ {
  position: relative;
}
.banner_::before {
  position: absolute;
  left: 0;
  bottom: -6.8rem;
  height: 46rem;
  width: 100%;
  background: url(../webImages/banners/shadow.png);
}
.banner .img1 {
  width: 100%;
}
.banner_Main {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0%;
  right: 0;
  margin: 0 auto;
  width: 75%;
}
.banner_Main__left {
  position: relative;
  z-index: 1;
  width: 50%;
}
.banner_Main__left h3 {
  position: relative;
  font-style: italic;
  text-transform: uppercase;
}
.banner_Main__left h3 dd {
  color: #fff;
  font-size: 15.2rem;
  font-weight: 700;
  letter-spacing: -1.289rem;
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.34), 3px 6px 14px rgba(0, 0, 0, 0.33), 11px 23px 26px rgba(0, 0, 0, 0.29), 24px 53px 35px rgba(0, 0, 0, 0.17), 43px 93px 41px rgba(0, 0, 0, 0.05), 67px 146px 45px rgba(0, 0, 0, 0.01);
}
.banner_Main__left h3 span {
  position: absolute;
  top: -1.1rem;
  left: 1rem;
  font-weight: 700;
  letter-spacing: 0.211rem;
  font-size: 16rem;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0.1rem;
  -webkit-text-stroke-color: #fff;
}
.banner_Main__left h4 {
  color: #fff;
  font-size: 5rem;
  font-style: italic;
  font-weight: 700;
  letter-spacing: -1.02px;
  text-transform: uppercase;
  line-height: 1;
}
.banner_Main__left h4 span {
  color: #344AF5;
}
.banner_Main__left-1 span {
  color: #fff;
  text-align: right;
  font-size: 1.2rem;
  font-style: italic;
  font-weight: 400;
  line-height: 0.9;
}
.banner_Main__left-1 dd {
  margin: 0;
  color: #fff;
  text-align: right;
  font-size: 1.8rem;
  font-style: italic;
  font-weight: 400;
  line-height: 0.9;
}
.banner_Main__left-1 h6 {
  color: #fff;
  font-size: 4.2rem;
  font-weight: 700;
  margin: 0;
}
.banner_Main__left-1 p {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  align-self: flex-end;
  margin: 0;
  margin-left: -1rem;
}
.banner_Main__right {
  position: relative;
  z-index: 2;
  width: 50%;
}
.banner_Main__right img {
  top: -4rem;
  width: 100%;
  position: relative;
}

.section1 {
  margin: 2rem 0;
}
.section1Main {
  position: relative;
  border-radius: 10px;
  border: 1px solid #c0c0c0;
}
.section1Main::before {
  content: "";
  position: absolute;
  opacity: 0.3;
  background: #f6f6f6;
}
.section1MainLeft {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
}
.section1MainLeft_ {
  display: flex;
  gap: 2rem;
}/*# sourceMappingURL=main.css.map */